body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(83, 83, 85);
}

h2 {
  color: rgb(233, 233, 233);
}

.header {
  background-color: rgb(2, 2, 75);
  width: 100%;
}

.pic {
  box-sizing: border-box;
  border-radius: 6rem;
  height: 12rem;
  width: 12rem;
}

hr {
  background-color: rgb(83, 83, 85);
}

.main {
  margin: 0;
  padding: 0;
  background-color: rgb(83, 83, 85);
}

